@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>


<div class="login" ng-if="HttpContext.Current.User.Identity.IsAuthenticated">
    
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="uuario" id="textBoxUsuario" placeholder="Usuário" required="required" />
        <input type="password" name="senha" id="passwordBoxSenha" placeholder="Senha" required="required" />
        <input type="button" class="btn-lg btn btn-success" value="Login" id="buttonLogin" />
    </form>
</div>

