@section header_pages{
    <br />
    <br />
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
}
<div>

 @{
     if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
     {
         <h1>Você já está logado.</h1>
     }
     else
     {
         using (Html.BeginForm())
         {
            <a>Digite seu login:</a>
            @Html.TextBox("login");
            <a>Digite sua senha:</a>
            @Html.Password("senha");
            <input type="submit" value="Enviar" />
        }
     }


}
</div>

